<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Flashcards</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/3bf83529fd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&family=Grandstander&family=Montserrat&family=Permanent+Marker&family=Poiret+One&family=Press+Start+2P&family=Righteous&family=Staatliches&display=swap" rel="stylesheet">
  </head>
  <body>

    <div id="v-app" class="">
      <div class="header">
        <div class="header-title-bar">
          <div class="spacer-header-left">

          </div>
          <h1 class="header-title">Flashcards</h1>
          <div class="settings_toggle" @click="settings_visible = !settings_visible"><span>settings</span></div>
        </div>

        <div class="settings-panel" :class="{'menu-is-visible': settings_visible}">
          <div class="setting">
            <label for="ctrlmode">Choose how to pick your sets:</label>
            <select v-model="ctrlmode">
              <option value="CTRLMODE_SETSELECT">Simple</option>
              <option value="CTRLMODE_EXACT">Detailed</option>
            </select>
          </div>

          <div class="setting">
            <label for="fontFamily">Pick a Font:</label>
            <select id="fontSelect" v-model="fontFamily">
              <option value="">normal</option>
              <option value="monospace">monospace</option>
              <option value="cursive">cursive</option>
              <option value="sans-serif">sans-serif</option>
              <option value="'Amatic SC', cursive">Amatic SC</option>
              <option value="'Cinzel', serif">Cinzel</option>
              <option value="'Grandstander', cursive">Grandstander</option>
              <option value="'Montserrat'">Montserrat</option>
              <option value="'Permanent Marker', cursive">Permanent Marker</option>
              <option value="'Poiret One', cursive">Poiret One</option>
              <option value="'Press Start 2P', cursive">Press Start</option>
              <option value="'Righteous', cursive">Righteous</option>
              <option value="'Staatliches', cursive">Staatliches</option>
            </select>
          </div>

          <div class="setting">
            <label for="gamemode">Game Mode:</label>
            <select v-model="gamemode">
              <option value="GMODE_PRACTICE">Practice Mode</option>
              <option value="GMODE_CLOCKRACE">Clock Race</option>
            </select>
          </div>
        </div>
      </div>

      <div class="problem-wrapper">
        <div class="clock-wrapper">
          <div class="stopwatch-display game-seconds">
            <span v-if="game.running">{{ stopwatch.game.seconds }}</span>
          </div>
          <div id="mult-problem" class="mult-problem">
            <div id="numA" class="mult-problem-num">{{ numA }}</div>
            <div id="numB" class="mult-problem-num">x&nbsp;{{ numB }}</div>
            <hr />
            <form @submit.prevent="if (answer_input !== undefined) {onAnswerSubmit();}">
              <input id="answer_input_box" type="number" v-model.number="answer_input" />
            </form>
          </div>
          <div class="stopwatch-display problem-seconds">
            <span v-if="game.running">{{ stopwatch.problem.seconds }}</span>
          </div>
        </div>

        <div class="problem-ctrl-buttons">
          <button @click="onAnswerSubmit" :class="buttonClass" v-if="gamemode === 'GMODE_PRACTICE'">{{ answerbuttontext }}</button>
          <button @click="if (!game.running) {beginGame();}" :class="buttonClass" v-if="gamemode === 'GMODE_CLOCKRACE'">
            <span v-if="!game.running">Start Game</span>
            <span v-if="answer_state === 0 && game.running">Incorrect</span>
            <span v-if="answer_state === 1 && game.running">Correct</span>
            <span v-if="game.running && answer_state > 1" >Go!</span>
          </button>
          <button v-if="game.running" class="ans_btn_default" @click="stopGame">Stop Game</button>
        </div>
      </div>

      <div class="controlPanel setselect" v-if="this.ctrlmode == 'CTRLMODE_SETSELECT'">
        <h2>Choose your sets:</h2>
        <div class="option-wrapper">
          <button
            v-for="number in ctrlpanel.setselect.possible_values"
            @click.prevent="setselect_toggleActive(number)"
            class="btn_numselect"
            :class="{setselect_active: (ctrlpanel.setselect.active_values.includes(number))}">
            {{ number }}
          </button>
        </div>
      </div>

      <div class="controlPanel" v-if="this.ctrlmode == 'CTRLMODE_EXACT'" >

        <div id="numAControlsDiv" class="numControlSet">
          <h2>First Number:</h2>
          <div class="controlSet">
            <div class="ctrlSetLabel">Min:</div>
            <button @click="numAmin--">-</button>
            <div class="ctrl-editable-num">{{ numAmin }}</div>
            <button @click="numAmin = Math.min(numAmax, numAmin + 1)">+</button>
          </div>

          <div class="controlSet">
            <div class="ctrlSetLabel">Max:</div>
            <button @click="numAmax = Math.max(numAmin, numAmax - 1)">-</button>
            <div class="ctrl-editable-num">{{ numAmax }}</div>
            <button @click="numAmax++">+</button>
          </div>

        </div>

        <div id="numBControlsDiv" class="numControlSet">
          <h2>Second Number:</h2>
          <div class="controlSet">
            <div class="ctrlSetLabel">Min:</div>
            <button @click="numBmin--">-</button>
            <div class="ctrl-editable-num">{{ numBmin }}</div>
            <button @click="numBmin = Math.min(numBmax, numBmin + 1)">+</button>
          </div>

          <div class="controlSet">
            <div class="ctrlSetLabel">Max:</div>
            <button @click="numBmax = Math.max(numBmin, numBmax - 1)">-</button>
            <div class="ctrl-editable-num">{{ numBmax }}</div>
            <button @click="numBmax++">+</button>
          </div>
        </div>
      </div>

      <div class="problemStack missedAnswersStack">
        <div class="stackCard missedAnswerCard" v-for="problem in incorrectAnswers" @click="setProblem(problem)">
          <div class="answered-stack-prob-num">{{ problem.numA }}</div>
          <div class="answered-stack-prob-num">x&nbsp;{{ problem.numB }}</div>
        </div>
        <hr />
        <div class="stackLabel">Missed<br />({{ numIncorrect }})</div>
      </div>

      <div class="problemStack correctAnswersStack">
        <div class="stackCard correctAnswerCard" v-for="problem in correctAnswers" @click="setProblem(problem)">
          <div class="answered-stack-prob-num">{{ problem.numA }}</div>
          <div class="answered-stack-prob-num">x&nbsp;{{ problem.numB }}</div>
        </div>
        <hr />
        <div class="stackLabel">Correct<br />({{ numCorrect }})</div>
      </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="/script.js"></script>
  </body>
</html>
