:root {
  --site-content-max-width: 1230px;
  --color-primary: #32a6ff;
  --color-primary-dark: #2296ef;
  --header-height: 75px;
  --card-width: 50px;
  --card-height: 65px;
  --border-radius-small: 5px;
}

* {
  box-sizing: border-box;
  position: relative;
}

html * {
  font-family: inherit !important;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 100px;
}

.online-play-menu {
  width: 100%;
  max-width: var(--site-content-max-width);
  display: grid;
  grid-template: 2fr 1rem 5fr / 3fr 1fr 2fr;
}

.online-play-menu-title {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: 0;
  font-family: 'Permanent Marker' !important;
  font-size: 5rem;
}

.online-play-menu-subtitle {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  font-family: 'Montserrat' !important;
  margin: 0;
}

.online-menu-buttons {
  grid-column: 3 / span 1;
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-family: 'Montserrat' !important;
}

.welcome-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  height: 100vh;
}

.welcome-content {
  width: 100%;
  max-width: var(--site-content-max-width);
  display: grid;
  grid-template: 2fr 0.5fr 1rem repeat(4, 1fr) / repeat(5, 1fr);
}

.welcome-title {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  margin: 0;
  font-family: 'Permanent Marker' !important;
  font-size: 5rem;
}

.welcome-subtitle  {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  font-family: 'Montserrat' !important;
  margin: 0;
}

.welcome-content button, .online-play-menu button {
  font-family: 'Montserrat' !important;
  background-color: var(--color-primary);
  color: white;
}

.welcome-content button:hover, .online-play-menu button:hover {
  background-color: var(--color-primary-dark);
}

.online-menu-join-room-button {
  font-size: 3rem;
  padding: 2rem 0rem;
}

.online-menu-button:not(:first-child) {
  margin-top: 1rem;
}

.welcome-play-button {
  font-size: 3rem;
  grid-row: 1 / span 2;
  grid-column: 4 / span 2;
}

.welcome-play-online {
  grid-column: 4 / span 2;
  grid-row: 4 / span 1;
}

.room-code-input-wrapper {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  margin-top: 1rem;
  height: 4rem;
}

.room-code-input-wrapper *:last-child {
  margin: 0;
}

.room-code-input-wrapper input {
  border-radius: var(--border-radius-small);
}

label {
  font-weight: bold;
}

.clock-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.stopwatch-display {
  flex: 1;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa, .far, .fas {
  font-family: "Font Awesome 5 Free" !important;
}

.spacer-header-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Montserrat' !important;
}

.header-back-button {
  font-size: calc(var(--header-height) * 0.5);
  padding: calc(var(--header-height) * 0.25);
}

.header-title {
  grid-row: 2;
  text-align: center;
  font-family: 'Permanent Marker' !important;
  margin: auto 0;
}

.header-subtitle {
  grid-row: 3;
  font-family: 'Montserrat' !important;
  margin: auto 0;
}

.header-title-wrapper {
  display: grid;
  grid-template: 1fr auto auto 1fr / 1fr;
  height: 100%;
}

.settings_toggle {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(var(--header-height) * 0.5);
  padding: calc(var(--header-height) * 0.25);
}

.settings_toggle i {
  transition-duration: 0.4s;
}

.settings_toggle.settings-open i {
  transform: rotate(-90deg);
}

hr {
  width: 95%;
  border: 2px solid black;
  border-radius: var(--border-radius-small);
  background-color: black;
}

.header-title-bar {
  display:flex;
  align-items: space-between;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.settings-panel {
  display: none;
  box-shadow: -100vh 100vh 0px 100vh #00000055;
  position: absolute;
  top: 100%;
  right: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: black;
  background-color: white;
  width: max-content;
  border-bottom-left-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
  overflow: hidden;
}

.setting:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}

.setting {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #ebebeb;
  width: 100%;
}

.setting select {
  flex:1;
}

.setting label {
  flex:1;
  padding-right: 1rem;
}

.menu-is-visible {
  display:flex;
}

.controlSet button {
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}

button {
  padding: 0.5rem;
  border-radius: var(--border-radius-small);
  font-size: 1.5rem;
  border: 1px solid #cbcbcb;
}

button:focus {
  outline: none;
}

.setselect {
  flex-direction: column;
}

.setselect .option-wrapper {
  width: 10rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  padding: 1rem 0;
}

.btn_numselect {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 0.25rem;
}

.setselect_active {
  background-color: #ffa63244;
  border: 1px solid #ffa63255;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: #32a6ff;
  border-bottom: 1px solid #32a6ff33;
  margin-bottom: 2rem;
  width: 100%;
  z-index: 20;
  height: var(--header-height);
}

.controlSet {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.numControlSet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.controlPanel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctrl-editable-num {
  border: 1px solid #ebebeb;
  border-radius: var(--border-radius-small);
  padding: 0.5rem;
  margin: 0.5rem;
}

.ctrlSetLabel {
  padding-right: 0.5rem;

}

.problem-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mult-problem {
  width: min-content;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  background-color: #e8f7ff;
  border: 1px solid #32a6ff33;
  border-radius: var(--border-radius-small);
  padding: 1rem;


}

.mult-problem-num {
  font-size: 4rem;
}

#answer_input_box {
  font-size: 3rem;
  padding: 0.5rem;
  max-width: 10rem;
  text-align: right;
  background-color: white;
  border: none;
  border-radius: var(--border-radius-small);
}

#answer_input_box:focus {
  outline: 2px solid #ffa63299;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.problem-ctrl-buttons {
  margin-top: 1rem;
}

.ans_btn_default {
  border: 1px solid #dbdbdb;
  background-color: #ebebeb;
}

.ans_btn_incorrect {
  background-color: #ff000022;
  border: 1px solid #ff000033;
}

.ans_btn_correct {
  background-color: #00ff0022;
  border: 1px solid #00ff0033;
}

.missedAnswersStack {
  left: 0;
  bottom: 0;
}

.correctAnswersStack {
  right: 0;
  bottom: 0;
}

.problemStack {
  display:flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  margin: 1rem;
  z-index: 10;
}

.stackCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.stackCard {
  border-radius: var(--border-radius-small);
  margin-top: -90%;
  display: grid;
  grid-template: 10% 1fr 5% 1fr 10% / 10% 1fr 2fr 10%;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0px 0px 5px 0px #777777;
  font-size: calc(var(--card-height) / 3);
  width: var(--card-width);
  height: var(--card-height);
}

.stackCard-numA {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  text-align: right;
}

.stackCard-numB {
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
  text-align: right;
}

.stackCard-operator {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  text-align: right;
}

.missedAnswerCard {
  background-color: #f5b3a9;
}

.stackCard:hover {
  transform: translateY(-3px) scale(1.1);
}

.stackCard:active {
  transition-duration: 0s;
  transform: translateY(1px);
}

.correctAnswerCard {
  background-color: #a9f5d2;
}

.stackLabel {
  font-weight: bold;
  padding: 1rem;
  border-radius: var(--border-radius-small);
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.missedAnswersStack .stackLabel {
  background-color: #ff0000aa;
}

.correctAnswersStack .stackLabel {
  background-color: #228b22aa;
}

.fontselection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.fontselection label {
  padding-bottom: 1rem;
}

.error-message {
  color: white;
  background-color: #ff0000;
  border-radius: var(--border-radius-small);
  border: 2px solid black;
  margin-top: 1rem;
  text-align: center;
}

.lobby-player-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: var(--site-content-max-width);
  width: 100%;
  padding: 1rem;
  font-family: 'Montserrat' !important;
}

.lobby-player {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: var(--border-radius-small);
  box-shadow: 0px 0px 5px 0px #cbcbcb;
  margin-bottom: 1rem;
}

.game-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  font-size: 70vh;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
}

.all-players-stacks {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.all-players-stacks .problemStack {
  position: relative;
  z-index: -1;
  filter: opacity(1);
}

.translucent {
  filter: opacity(0.5);
}

.score-table-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat' !important;
}

.score-table-wrapper table {
  margin-bottom: 1rem;
}

.score-table-wrapper td {
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.score-table-wrapper th {
  border-bottom: 1px solid #ebebeb;
}

.score-table-wrapper th:not(:last-of-type) {
  border-right: 1px solid #ebebeb;
}

.score-table-wrapper td, .score-table-wrapper th {
  padding: 0.5rem;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .online-play-menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0rem 10%;
  }

  .online-menu-button {
    margin-top: 1rem;
  }

  .welcome-content {
    grid-template: 2fr repeat(5, 1fr) / repeat(5, 1fr);
    padding: 0rem 10%;
  }

  .welcome-title {
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
    font-size: 5rem;
  }

  .welcome-subtitle {
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
  }

  .welcome-play-button {
    font-size: 3rem;
    grid-row: 3 / span 2;
    grid-column: 1 / span 5;
  }

  .welcome-play-online {
    grid-row: 6 / span 1;
    grid-column: 1 / span 5;
  }
}

@media only screen and (max-width: 600px) {
  .controlPanel {
    flex-direction: column;
  }

  .settings-panel {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }

  .setting {
    width: 100%;
    border-right: none;
  }

  .stackCardWrapper {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 300px) {
  .problemStack {
    margin: 0;
  }
}
